body {
	margin: 0;
	user-select: none;
	overflow: hidden;
	height:100vh;
	background-color: #181830;
	background: linear-gradient(180deg, #202040, #101020);
}

* {
	box-sizing: border-box;
}

div.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#canvas_bg {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
}

#canvas_map {
	z-index: 0;
	background: #00000000;
	position: fixed;
	top: 30px;
	right: 30px;
}

#canvas {
	z-index: 0;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
}

#fps_display {
	margin: 0;
	position: fixed;
	top: 10px;
	left: 20px;
	color: white;
	font-family: monospace;
	font-size: 15px;
	white-space: pre-line;
	background: #00000040;
	padding: 5px 10px;
	border-radius: 5px;
	display: block;
}

#bottom {
	pointer-events: none;
	position: fixed;
	bottom: 20px;
	left: 50vw;
	transform: translateX(-50%);
}

#timer_container {
	pointer-events: none;
	overflow: hidden;
}

#timer_display {
	margin: 0;
	font-family: monospace;
	font-size: 35px;
	color: #565670;
	opacity: 0;
	transform: translateY(100%);
	transition: all 0.2s;
}

#times_container {
	pointer-events: auto;
	width: max-content;
	height: 0;
	opacity: 0;
	margin: 7px;
	padding: 6px;
	backdrop-filter: blur(20px);
	color: white;
	background: #6060cc20;
	box-shadow: 0 3px 5px #00000050;
	transition: all 0.3s;
	display: grid;
	grid-template-columns: auto auto;
	gap: 6px;
}

#stats, #times {
	overflow: scroll;
}

#stats {
	background: #6060cc20;
	box-shadow: 0 3px 5px #00000020;
}

#stats table {
	font-family: monospace;
}

#stats th {
	font-weight: normal;
}

#stats th, #stats td {
	padding: 3px;
}

#times ul {
	list-style-type: none;
	font-family: monospace;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

#times li {
	padding: 3px 10px;
	background: #6060cc20;
	text-align: center;
	transition: all 0.1s;
	box-shadow: 0 3px 5px #00000020;
}

#times li + li {
	margin-top: 6px;
}

#times li:active {
	background: #6060ccff;
}

#buttons_container {
	pointer-events: auto;
	background-color: #6060c080;
	border-radius: 10px;
	box-shadow: 0 3px 5px #00000050;
	background: #6060cc20;
	border: 2px solid #6060c080;
}

.button {
	margin: 5px 10px;
	padding: 2px;
	outline: none;
	width: 35px;
	height: 35px;
	fill: #ffffff;
}

.button:active {
	fill: #606090;
}

#timerON,
#soundON {
	display: none;
}

@keyframes highlight {
	0% {
		fill: #ffffff;
	}

	20% {
		fill: #5050f0;
	}

	100% {
		fill: #ffffff;
	}
}