body {
	margin: 0;
	user-select: none;
	overflow: hidden;
}

#canvas_bg {
	background-color: #1c1c38;
	background: linear-gradient(135deg, #181830, #202040);
	position: fixed;
	top: 0;
	left: 0;
	z-index:-1;
}

#canvas {
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	z-index:0;
}

div.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#fps_display {
	position: fixed;
	top: 10px;
	left: 20px;
	color: white;
	font-family: monospace;
	font-size: 15px;
	background: #00000040;
	padding: 5px 10px;
	border-radius: 5px;
}

#timer_container {
	position: fixed;
	left: 50%;
	bottom: 60px;
	transform: translate(-50%, 0%);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s;
}

#timerElement {
	margin: 10px;
	font-family: monospace;
	font-size: 35px;
	color: #565670;
	transition: color 0.2s;
}

#buttons_container {
	position: fixed;
	bottom: 20px;
	background-color: #6060cc80;
	border-radius: 10px;
	box-shadow: 0 3px 5px #00000050;
}

.button {
	margin: 5px 10px;
	padding: 2px;
	outline: none;
	width: 30px;
	height: 30px;
	fill: #ffffff;
}

.button:active {
	fill: #606090;
}

#tON,
#sON {
	display: none;
}

@keyframes highlight {
	0% {
		fill: #ffffff;
	}
	20% {
			fill: #5050f0;
	}
	100% {
		fill: #ffffff;
	}
}